<h2>
  <%= project.name %>
</h2>
<%
  var folders = currentPath.split('/');
  folders.splice(0, 2);
  folders.splice(-1, 1);

  for(var i=0; i<folders.length-1; i++) {
    folders[i] = '<a href="/project/' + project._id + '/' + folders[i] + '/">' + folders[i] + '</a>';
  }
  folders[0] = '<a href="/project/' + project._id + '">/</a>';

  if(parent) {
%>
  <div class="jumbotron breadcrumbs">
    <%- folders.join(' > '); %>
  </div>
<% } %>

<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">

  <div class="table-responsive well">
    <table class="table table-striped table-hover repoTable">
      <thead>
        <tr>
          <th><h4>File name</h4></th>
          <th><h4>Last commit</h4></th>
          <th><h4>Last updated</h4></th>
        </tr>
      </thead>
      <tbody>
        <% if(parent) { %>
          <tr>
            <td colspan="4"><a href=".."><span class="fa fa-level-up">&nbsp;</span>Parent</a></td>
          </tr>
        <% } %>
        <% for (index in files) { %>
          <tr>
            <td><a href="<%= currentPath + files[index] %>"><%= files[index] %></a></td>
            <td><%= project.createdAt %></td>
            <td><%= files[i].lm %></td>
            <td>
              <a href="#" onclick="replaceForm('<%= project._id %>', '<%= files[index] %>')" id="replaceButton" class="btn btn-warning" data-dir="" data-toggle="tooltip" data-placement="top" title="Rename"><span class="fa fa-pencil fa-lg"></span></a>
              <a href="#" onclick="deleteConfirmForm('<%= project._id %>', '<%= files[index] %>')" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Delete"><span class="fa fa-trash-o fa-lg"></span></a>
              <!--<a href="../fileEdit/delete/<%= ownerID + '/' + files[index] %>" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Delete"><span class="fa fa-trash-o fa-lg"></span></a>-->
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <div class="row">
    <label class="fa fa-upload fa-2x addButton3" data-toggle="tooltip" data-placement="bottom" title="Upload file">
      <form enctype="multipart/form-data" id="uploadZip" action="/uploadrepo/<%- project.name %>" method="post">
        <input type="file" class="btn btn-primary" name="file">
      </form>
    </label>
    <a href="/download/<%= project.name %>" class="fa fa-download fa-2x addButton3" data-toggle="tooltip" data-placement="bottom" title="Download files"></a>
    <a href="/createFile" class="fa fa-file fa-2x addButton3" data-toggle="tooltip" data-placement="bottom" title="Create new file"></a>
    <a href="/commitRepo/<%= project._id %>" class="fa fa-check fa-2x addButton3" data-toggle="tooltip" data-placement="bottom" title="Commit"></a>
    <a href="" class="fa fa-refresh fa-2x addButton3" data-toggle="tooltip" data-placement="bottom" title="Push"></a>

  </div>
</div>

<div class="modal fade" id="renameFile" tabindex="-1" role="dialog">
  <div class="modal-dialog modalBodySized">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="modal-title" id="rename-title">Rename file: </h3>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form method="post" role="form" id="renameFileForm" enctype="application/x-www-form-urlencoded" action="/fileEdit" autocomplete="off">
            <fieldset>
              <div class="form-group">
                <label for="url" id="modal-label">New file name (with ext.): </label><br>
                <input type="text" class="form-control" name="newName" id="newName" placeholder="name.txt" maxlength=100 required></textarea>
                <input id="upload-submit" class="btn btn-default btn-warning" style="margin-top:1em;" type="submit" value="Submit">
            </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal fade -->
